<section id="skills" class="max-w-7xl mx-auto px-6 py-28 text-white">
  <!-- Encabezado -->
  <div class="text-center mb-20">
    <h2 class="text-4xl md:text-7xl font-extrabold leading-tight">
      {{ "SKILLS.TITLE_PREFIX" | translate }}
      <span
        class="bg-gradient-to-r from-orange-400 to-pink-500 bg-clip-text text-transparent"
      >
        {{ "SKILLS.TITLE_HIGHLIGHT" | translate }}
      </span>
    </h2>

    <div
      class="mt-6 w-32 h-1.5 bg-gradient-to-r from-orange-400 to-pink-500 mx-auto rounded-full"
    ></div>

    <p class="text-white/60 mt-6 max-w-2xl mx-auto">
      {{ "SKILLS.DESCRIPTION" | translate }}
    </p>
  </div>

  <!-- Grid de Skills -->
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 gap-10">
    <!-- Angular -->
    <div
      class="flex flex-col items-center justify-center p-8 rounded-3xl bg-white/5 border border-white/10 backdrop-blur-md hover:bg-white/10 transition-all duration-300 hover:scale-[1.03] hover:shadow-2xl hover:shadow-purple-500/20"
    >
      <div class="flex items-center justify-center w-16 h-16 rounded-2xl mb-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 250 250"
          width="60"
          height="60"
        >
          <polygon
            fill="#DD0031"
            points="125,0 0,45 19,191 125,250 231,191 250,45"
          />
          <polygon
            fill="#C3002F"
            points="125,0 125,27 125,250 231,191 250,45"
          />
          <path
            fill="#FFFFFF"
            d="M125,30l-73,161h27l14-33h65l14,33h27L125,30z M143,131H107l18-41L143,131z"
          />
        </svg>
      </div>
      <h3 class="text-xl font-semibold mb-2">
        {{ "SKILLS.ANGULAR.TITLE" | translate }}
      </h3>
      <p class="text-white/60 text-center text-sm">
        {{ "SKILLS.ANGULAR.DESCRIPTION" | translate }}
      </p>
    </div>

    <!-- TypeScript -->
    <div
      class="flex flex-col items-center justify-center p-8 rounded-3xl bg-white/5 border border-white/10 backdrop-blur-md hover:bg-white/10 transition-all duration-300 hover:scale-[1.03] hover:shadow-2xl hover:shadow-purple-500/20"
    >
      <div class="flex items-center justify-center w-16 h-16 rounded-2xl mb-4">
        <img
          src="assets/img/typescript.svg"
          alt="TypeScript"
          class="w-15 h-15"
        />
      </div>
      <h3 class="text-xl font-semibold mb-2">
        {{ "SKILLS.TYPESCRIPT.TITLE" | translate }}
      </h3>
      <p class="text-white/60 text-center text-sm">
        {{ "SKILLS.TYPESCRIPT.DESCRIPTION" | translate }}
      </p>
    </div>

    <!-- AWS -->
    <div
      class="flex flex-col items-center justify-center p-8 rounded-3xl bg-white/5 border border-white/10 backdrop-blur-md hover:bg-white/10 transition-all duration-300 hover:scale-[1.03] hover:shadow-2xl hover:shadow-purple-500/20"
    >
      <div class="flex items-center justify-center w-16 h-16 rounded-2xl mb-4">
        <img src="assets/img/aws.svg" alt="AWS" class="w-20 h-20" />
      </div>
      <h3 class="text-xl font-semibold mb-2">
        {{ "SKILLS.AWS.TITLE" | translate }}
      </h3>
      <p class="text-white/60 text-center text-sm">
        {{ "SKILLS.AWS.DESCRIPTION" | translate }}
      </p>
    </div>

    <!-- Java -->
    <div
      class="flex flex-col items-center justify-center p-8 rounded-3xl bg-white/5 border border-white/10 backdrop-blur-md hover:bg-white/10 transition-all duration-300 hover:scale-[1.03] hover:shadow-2xl hover:shadow-purple-500/20"
    >
      <div class="flex items-center justify-center w-16 h-16 rounded-2xl mb-4">
        <img src="assets/img/java.svg" alt="Java" class="w-20 h-20" />
      </div>
      <h3 class="text-xl font-semibold mb-2">
        {{ "SKILLS.JAVA.TITLE" | translate }}
      </h3>
      <p class="text-white/60 text-center text-sm">
        {{ "SKILLS.JAVA.DESCRIPTION" | translate }}
      </p>
    </div>

    <!-- Python -->
    <div
      class="flex flex-col items-center justify-center p-8 rounded-3xl bg-white/5 border border-white/10 backdrop-blur-md hover:bg-white/10 transition-all duration-300 hover:scale-[1.03] hover:shadow-2xl hover:shadow-purple-500/20"
    >
      <div class="flex items-center justify-center w-16 h-16 rounded-2xl mb-4">
        <img src="assets/img/python.svg" alt="Python" class="w-20 h-20" />
      </div>
      <h3 class="text-xl font-semibold mb-2">
        {{ "SKILLS.PYTHON.TITLE" | translate }}
      </h3>
      <p class="text-white/60 text-center text-sm">
        {{ "SKILLS.PYTHON.DESCRIPTION" | translate }}
      </p>
    </div>
  </div>
</section>
